* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}

:root {
    --utility-padding-: 20px;
    --font-size-h3: 1.4rem;
    /* 1rem = 16px */
    --font-size-h4: 1rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* img {
    height: 100%;
    width: 100%;
} */

/* header section  */
header {
    box-shadow: 0px 0px 15px #686582;
}

.header {
    justify-content: space-between;
}

/* Make sure the container and logo are properly sized */
.Logo-container {
    padding: var(--utility-padding-);
    height: 14vh;
}

/* Adjust the logo image */
.Logo {
    max-width: 100%;
    max-height: 100%;
}

/* nav bar code here  */
.nav-item {
    padding: var(--utility-padding-);
}

.nav-item ul {
    gap: 1.2rem;
    padding: var(--utility-padding-);
}

.nav-item ul li {
    list-style: none;
    font-size: 1.4rem;
}

.nav-item ul li a {
    text-decoration: none;
    color: #131212;
}

/* Restaurant card section  */
.res-cards {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card {
    width: 280px;
    padding: var(--utility-padding-);
    filter: blur(0px);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    z-index: 10;
}

.res-cards:hover .card:not(:hover) {
    filter: blur(3px);
}

.card-img {
    width: 240px;
    height: 230px;
}

.card h3 {
    margin-top: 20px;
    font-size: var(--font-size-h3);
    text-align: center;
}

.card h4 {
    margin-top: 10px;
    margin-left: 5px;
    font-size: var(--font-size-h4);
}




/* .filter {} */

.filter-btn {
    background-color: rgba(255, 145, 0, 0.966);
    color: #fff;
    border: 1px solid #302e2e;
    border-radius: 3px;
    cursor: pointer;
    transition: all 2s ease-in;
    margin: 30px 0px 10px;
}

.filter-btn:hover {
    color: rgba(255, 145, 0, 0.966);
    background-color: #fff;
}